* {
    -fx-primary-color: #4C566A;
    -fx-secondary-color: #5E81AC;
}

.root {
    -fx-background-color: rgba(0,0,0,0);
    -fx-effect: innershadow(gaussian, #496b94, 0.1, 0.9, 0.0, 0.0);
}

.app-general-style {
    -fx-background-color: #ECEFF4;
    -fx-background-radius: 10 10 5 5;
}

.general-window {
    -fx-border-radius: 0;
}

.tittle-bar {
    -fx-background-color: #5E81AC;
    -fx-background-radius: 10 10 0 0;
    -fx-text-fill: #000000;
}

.tittle-bar-button {
    -fx-background-radius: 10%;
    -fx-background-color: #5E81AC;
    -fx-text-fill: #000000;
}

.tittle-bar-button-unabled {
    -fx-background-radius: 10%;
    -fx-background-color: #5E81AC;
    -fx-text-fill: #6e6e6e;
}

.tittle-bar-button:hover {
    -fx-background-color: #81A1C1;
}

/*
.minimize-button {
    -fx-background-color: #FFBD44;
}

.minimize-button:hover {
    -fx-background-color: #e9ac3a;
}

.maximize-button {
    -fx-background-color: #00CA4E;
    
}

.maximize-button:hover {
    -fx-background-color: #00b846;
}

.close-button {
    -fx-background-color: #FF605C;
}

.close-button:hover {
    -fx-background-color: #e44c4a;
}
*/

.text-fields {
    -fx-effect: dropshadow( gaussian , #5E81AC , 2,0,1,1 );
    -fx-background-color: #dce1ea;
    -fx-text-fill: #000000;
    -fx-border-color: #5E81AC;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2 2 2 2;
    -fx-alignmen: center;
}

.text-fields:readonly {
    -fx-text-fill: #7d7d7d;
    -fx-background-color: #adb3bc;
}

.date-picker {
    -fx-effect: dropshadow( gaussian , #5E81AC , 2,0,1,1 );
    -fx-background-color: #ECEFF4;
    -fx-text-fill: #000000;
    -fx-border-color: #5E81AC;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2 2 2 2;
    -fx-alignmen: center;
}

.date-picker .arrow-button {
	-fx-background-color: #5E81AC;
	-fx-background-radius: 20px;
    -fx-border-radius: 20px;
}

.date-picker .arrow-button:hover {
	-fx-background-color: #81A1C1;
}

.date-picker .text-field {
    -fx-background-color: #dce1ea;
    -fx-text-fill: #000000;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-alignmen: center;
}

.successTxt {
    -fx-text-fill: #D8DEE9;
}

.large-button {
    -fx-background-color: #dce1ea;
    -fx-text-fill: #000000;
    -fx-border-color: #5E81AC;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
    -fx-border-width: 2 2 2 2;
}

.large-button:hover {
    -fx-background-color: #81A1C1;
    -fx-border-radius: 20;
}

.large-button:selected {
    -fx-background-color: #81A1C1;
}

.large-button:focused {
    -fx-background-color: #5E81AC;
    -fx-border-radius: 20;
}

.menu-bar {
    -fx-background-color: #3B4252;
    -fx-background-radius: 0 0 0 0;
}

.menu-bar .label {
    -fx-text-fill: #D8DEE9;
}

.avatar-button {
    -fx-effect: dropshadow( gaussian , #5E81AC , 2,0,0,0.5 );
    -fx-background-color: #ECEFF4;
    -fx-background-radius: 15px;
    -fx-border-color: #5E81AC;
    -fx-border-radius: 10px;
    -fx-border-width: 2 2 2 2;
}  

